:root{
    --fundo:#87CEFA;
    --cart達o-frente:#A9A9A9;
    --cart達o-verso:#000080;
    --destaque:#00BFFF;
    --preto:#000000;
    --branco:#afffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}
header{
    background-color: (--preto);
    color: var(--branco);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}
header{
    color: var(--branco);
    text-decoration: none;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
#container{
    display: grid;
    gap: 3rem;
    padding: 20px;
}
.conteudo-cartao{
    padding: 40px;
    background-color: var(--cart達o-frente);
    box-shadow: 2px 2px 2px var(--preto);
    border: 1px solid var(--preto);
    border-radius: 10px;
    cursor: pointer;
}

.conteudo-cartao:hover{
    transform: scale(1.02);
}
.resposta-cartao{
    background-color: var(--cart達o-verso);
    color: var(--branco);
    padding: 40px;
    margin-top: 15px;
    display: none;
}
